<!doctype html>
<html class="no-js ua" ng-app="myegovApp" lang="{{ currentLanguage }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title ng-bind="$state.current.data.addToTitle + ($state.current.data.pageTitle | i18next) + ' | My.Egov'">
    ҚР электрондық үкімет порталының «Жеке кабинет»
  </title>
  <meta name="description" content="Жеке кабинет  өзімен ҚР «электрондық үкіметінде» жеке немесе заңды тұлғалардың дербес кеңістігін көрсетеді.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes, minimal-ui">

  <link rel="stylesheet" href="css/64ce9e7c.main.css">

  <link rel="icon" href="/favicon.ico?v=1" />
</head>

<body id="user-data-loading-zone"
      ng-controller="MainController"
      ng-strict-di
      ng-cloack
      class="page page--loading"
      ng-class="{ 'zoom zoom--l' : (accessibility.zoomed == 1),
                  'zoom zoom--xl' : (accessibility.zoomed == 2),
                  'contrast' : accessibility.highContrast,
                  'contrast--invert' : (accessibility.highContrast && accessibility.invertData),
                  'page--overflow_hidden' : isOverflow,
                  'kk page--kk' : (currentLanguage == 'kk') }">

  <div ng-include src="'/images/svg-defs.svg'"></div>

  <div class="ng-modal">
    <div class="ng-modal-overlay"
      ng-class="{ 'ng-modal-overlay--visible' : modalDisableProfile.isVisible }"
      ng-click="modalDisableProfile.hide()">
    </div>

    <div class="ng-modal-dialog" ng-class="{ 'ng-modal-dialog--visible' : modalDisableProfile.isVisible }">
      <div class="ng-modal-dialog-question">
        <p data-ng-bind="'profile.disableAlert' | i18next"></p>
      </div>

      <div class="ng-modal-footer">
        <a href
          class="ng-modal-button ng-modal-button--green"
          ng-click="modalDisableProfile.agree()"
          data-ng-bind="'profile.disable' | i18next"></a>

        <a href
          class="ng-modal-button ng-modal-button--red"
          ng-click="modalDisableProfile.hide()"
          data-ng-bind="'cancel' | i18next"></a>
      </div>
    </div>
  </div>

  <div class="ng-modal">
    <div class="ng-modal-overlay"
      ng-class="{ 'ng-modal-overlay--visible' : modalSwitchOnProfile.isVisible }"
      ng-click="modalDisableProfile.hide()">
    </div>

    <div class="ng-modal-dialog" ng-class="{ 'ng-modal-dialog--visible' : modalSwitchOnProfile.isVisible }">
      <div class="ng-modal-dialog-question">
        <p ng-if="(allSubscriptionCount == subscriptionEnabledCount) || (subscriptionEnabledCount != 0 && subscriptionDisabledCount != 0) && modalSwitchOnProfile.isVisible"
           data-ng-bind="'profile.switchOnAlert' | i18next"></p>

        <p ng-if="(allSubscriptionCount == subscriptionDisabledCount) || (subscriptionEnabledCount != 0 && subscriptionDisabledCount != 0) && modalDisableProfile.isVisible"
           data-ng-bind="'profile.enableAlert' | i18next"></p>

      </div>

      <div class="ng-modal-footer">
        <a href
           ng-if="(allSubscriptionCount == subscriptionDisabledCount) || (subscriptionEnabledCount != 0 && subscriptionDisabledCount != 0) && modalSwitchOnProfile.isVisible"
           class="ng-modal-button ng-modal-button--green"
           ng-click="modalSwitchOnProfile.agree()"
           data-ng-bind="'profile.enable' | i18next"></a>

        <a href
           ng-if="(allSubscriptionCount == subscriptionEnabledCount) || (subscriptionEnabledCount != 0 && subscriptionDisabledCount != 0) && modalDisableProfile.isVisible"
           class="ng-modal-button ng-modal-button--green"
           ng-click="modalSwitchOnProfile.agree()"
           data-ng-bind="'profile.disable' | i18next"></a>

        <a href
           class="ng-modal-button ng-modal-button--red"
           ng-click="modalSwitchOnProfile.hide()"
           data-ng-bind="'cancel' | i18next"></a>
      </div>
    </div>
  </div>
  <!-- .ng-modal -->

  <div class="ng-modal">
    <div class="ng-modal-overlay" ng-class="{ 'ng-modal-overlay--visible' : mainUI.survey.isVisible }"
         ng-click="mainUI.survey.toggle()">
    </div>

    <div class="ng-modal-dialog" ng-class="{ 'ng-modal-dialog--visible' : mainUI.survey.isVisible }">
      <poll></poll>
    </div>
  </div>
  <!-- .ng-modal -->

  <div class="app-container">
    <div class="print-header">
      <img class="print-logo" src="images/e91c41a1.logo_2010@2x.png" alt="">
      <span class="print-title">
        <span class="print-title-block" ng-bind-template="Личный кабинет"></span>
        <span class="print-title-block" ng-bind-template="Жеке кабинет"></span>
      </span>
    </div>

    <div class="accessibility-controls print-hidden">
      <div class="accessibility-controls__container">
        <a class="accessibility-controls__item"
          tooltip="{{ 'settings.accessibility.backOriginal' | i18next }}"
          tooltip-placement="bottom"
          ng-if="highContrastModel" ng-click="accessibility.logout();">
          <icon label="eye-blocked" width="25px" height="25px"></icon>
        </a>

        <a class="accessibility-controls__item accessibility-controls__item--adjust"
          tooltip="{{ 'settings.accessibility.changeContrast' | i18next }}"
          tooltip-placement="bottom"
          ng-if="!invertModel"
          ng-click="accessibility.invert(true);">
          <icon label="contrast" width="25px" height="25px"></icon>
        </a>

        <a class="accessibility-controls__item accessibility-controls__item--adjust-active"
          tooltip="{{ 'settings.accessibility.changeContrast' | i18next }}"
          tooltip-placement="bottom"
          ng-if="invertModel"
          ng-click="accessibility.invert(false);">
          <icon label="contrast" width="25px" height="25px"></icon>
        </a>

        <a class="accessibility-controls__item"
          ng-class="{ 'accessibility-controls__item--active' : (accessibility.zoomed == 0) }"
          tooltip="{{ 'settings.accessibility.fontSize' | i18next }}: {{ 'settings.accessibility.simple' | i18next }}"
          tooltip-placement="bottom"
          ng-click="accessibility.zoom(0);" ng-bind-template="A"></a>

        <a class="accessibility-controls__item accessibility-controls__item--l"
          ng-class="{ 'accessibility-controls__item--active' : (accessibility.zoomed == 1) }"
          tooltip="{{ 'settings.accessibility.fontSize' | i18next }}: {{ 'settings.accessibility.big' | i18next }}"
          tooltip-placement="bottom"
          ng-click="accessibility.zoom(1);" ng-bind-template="A"></a>

        <a class="accessibility-controls__item accessibility-controls__item--xl"
          ng-class="{ 'accessibility-controls__item--active' : (accessibility.zoomed == 2) }"
          tooltip="{{ 'settings.accessibility.fontSize' | i18next }}: {{ 'settings.accessibility.bigger' | i18next }}"
          tooltip-placement="bottom"
          ng-click="accessibility.zoom(2);" ng-bind-template="A"></a>
      </div>
    </div>

    <div class="menu-egov"
      ng-class="{ 'menu-egov--visible' : mainUI.egovMenuVisible, 'menu-egov--shown' : mainUI.egovMenuShown }"
      click-off="mainUI.egovMenuVisible = false;">
      <div class="menu-egov-content">
        <a class="menu-egov-link" href="{{ link.href }}" ng-repeat="link in portalLinks">
          <span ng-bind="'portalLinks.' + link.caption | i18next"></span>
        </a>
      </div>
    </div>

    <header class="header" ng-class="{ 'is_show' : mainUI.mobileMenu }" role="banner">
      <div class="header__container">
        <a href="//egov.kz/" class="header__logo">
          <img class="header__logo-img" src="images/e91c41a1.logo_2010@2x.png" alt="">
        </a>

        <a class="header__menu-btn js_show-menu" ng-click="mainUI.toggleMenu()">
          <span class="header__menu-burger" ng-class="{ 'header__menu-burger--active' : mainUI.mobileMenu }"></span>
        </a>

        <nav class="header__menu mainmenu" ng-if="!profileDisabled" ng-class="{ 'is_show' : mainUI.mobileMenu }" role="navigation">
          <ul class="mainmenu__list">
            <li class="mainmenu__item">
              <a class="mainmenu__link"
                ng-click="mainUI.toggleMenu()"
                ng-href="#/profile"
                ng-i18next="dossier"
                ng-class="{ 'mainmenu__link--active' : ($state.is('profile.individualEntity') || $state.is('profile.legalEntity')) && !UI.navigation.popover }">
              </a>
            </li>

            <li class="mainmenu__item" ng-if="!isLegal && digiDocsPermission">
              <a ng-href="#/digidocs"
                 ng-click="mainUI.toggleMenu()"
                 class="mainmenu__link"
                 ng-class="{ 'mainmenu__link--active' : $state.is('digidocs') && !UI.navigation.popover }" ng-i18next="routes.digidocs">
              </a>
            </li>

            <li class="mainmenu__item" ng-if="oneInBoxPermission">
              <a class="mainmenu__link"
                ng-click="mainUI.toggleMenu()"
                ng-href="#/inbox/all"
                ng-class="{ 'mainmenu__link--active' : $state.includes('inbox.**') && !UI.navigation.popover }">

                  <span ng-i18next="inbox"></span>

                  <span class="mainmenu__unread" ng-if="unreadInboxCount > 0" ng-bind="unreadInboxCount"></span>
              </a>
            </li>

            <li class="mainmenu__item" ng-if="(isLegal && myDocsPermission) || (!isLegal)">
              <a class="mainmenu__link"
                ng-click="mainUI.toggleMenu()"
                ng-href="#/mydocs"
                ng-class="{ 'mainmenu__link--active' : $state.is('my-documents') && !UI.navigation.popover }" ng-i18next="routes.mydocs">
              </a>
            </li>

            <li class="mainmenu__item" ng-if="settingPermission">
              <a ng-href="#/settings"
                ng-click="mainUI.toggleMenu()"
                class="mainmenu__link"
                ng-class="{ 'mainmenu__link--active' : $state.is('settings') && !UI.navigation.popover }" ng-i18next="settingsLabel">
              </a>
            </li>

            <li class="mainmenu__item" ng-if="poll.questionPermission">
              <a href
                ng-click="mainUI.survey.toggle()"
                class="mainmenu__link">
                <span ng-i18next="surveys"></span>

                <span class="mainmenu__unread" ng-if="poll.counter > 0" ng-bind="poll.counter"></span>
              </a>
            </li>

            <li class="mainmenu__item mainmenu__item--mob_hide"
                ng-hide="$state.is('welcome') || $state.is('start')"
                click-off="UI.navigation.popover = false;">

                <a href class="mainmenu__link"
                  ng-class="{ 'popover-button--active' : UI.navigation.popover }"
                  ng-click="mainUI.egovMenuVisible = false; UI.navigation.popover = !UI.navigation.popover" ng-i18next="additional">
                </a>

                <div
                  class="popover-content"
                  ng-class="{ 'popover-content--visible' : UI.navigation.popover }">
                  <div class="popover-content-section">
                    <div class="support">
                      <div class="support-caption" ng-bind="'callCenter' | i18next"></div>
                      <a class="support-phone" href="tel:1414" ng-bind-template="1414"></a>
                      •
                      <a class="support-phone" href="tel:88000807777" ng-bind-template="8-800-080-7777"></a>
                      <div class="support-notice" ng-bind="'callCenterCaption' | i18next | capitalize">
                      </div>
                    </div>
                  </div>
                </div>
            </li>

            <li class="mainmenu__item mainmenu__item--mob_hide">
              <a href
                class="mainmenu__link-submenu"
                ng-click="UI.navigation.popover = false; mainUI.egovMenuVisible = !mainUI.egovMenuVisible"
                click-off="mainUI.egovMenuVisible = false;">
                <span class="mainmenu__icon-submenu mainmenu__icon-submenu--list"
                  ng-class="{ 'mainmenu__icon-submenu--open' : !mainUI.egovMenuVisible }">
                  <icon label="file-text" width="15px" height="15px"></icon>
                </span>

                <span class="mainmenu__icon-submenu mainmenu__icon-submenu--close"
                  ng-class="{ 'mainmenu__icon-submenu--open' : mainUI.egovMenuVisible }">
                  &times;
                </span>
              </a>
            </li>

          </ul>
        </nav>
        <!-- .mainmenu -->

        <span class="header__loader global-loader" ng-show="globalLoader">
          <img src="images/ab6d9507.loader.gif" alt="">
        </span>

        <div class="header__block header__block--right" ng-class="{ 'is_show' : mainUI.mobileMenu }">
          <a href class="header__link"
            ng-if="!highContrastModel"
            ng-click="accessibility.contrast(true);"
            tooltip="{{ 'settings.accessibility.specialVersion' | i18next }}"
            tooltip-placement="bottom">
            <icon label="eye" width="25px" height="25px" fill="#1e8a62"></icon>
          </a>

          <a ng-if="currentLanguage === 'ru'"
            ng-click="changeLanguage('kk')"
            ng-bind-template="Қазақша"
            class="header__link">
          </a>

          <a ng-if="currentLanguage === 'kk'"
            ng-click="changeLanguage('ru')"
            ng-bind-template="Русский"
            class="header__link">
          </a>

          <a class="header__link" ng-click="logout()" ng-i18next="logout"></a>
        </div>

        <div class="header__infoblock infoblock infoblock--center">
          <div class="infoblock__title" ng-i18next="callCenter"></div>

          <a class="infoblock__link" href="tel:1414" ng-bind-template="1414"></a>
          •
          <a class="infoblock__link" href="tel:88000807777" ng-bind-template="8-800-080-7777"></a>

          <div class="infoblock__text" ng-i18next="callCenterCaption"></div>
        </div>

        <div class="header__bg"></div>
      </div>
    </header>

    <div class="app-wrapper js_height"
      ng-class="{ 'app-wrapper--inbox' : $state.includes('inbox.**'),
                'app-wrapper--settings' : $state.includes('settings') || $state.includes('history') }">

      <div class="opened-side-overlay" sidebar-close></div>

      <section class="view-wrapper" ui-view=""></section>
    </div>
  </div>

  <div class="loader">
    <img src="images/ab6d9507.loader.gif" class="loader__img" alt="">
  </div>

  <script src="scripts/e18a6119.frameworks.js"></script>

  <script src="scripts/0f22bdf5.plugins.js"></script>

  <script src="scripts/f739c2a9.scripts.js"></script>

  <script type="text/javascript">
      FastClick.attach(document.body);
  </script>

</body>
</html>
